$Infected: rgba(0, 0, 255, 1);

$Active: rgba(255, 145, 0, 1);

$Recovered: rgba(0, 255, 0, 1);

$Deaths: rgba(255, 0, 0, 1);

$black: rgb(105, 105, 105);

:root {
  font-size: 62.5%;
}

.container {
  h4 {
    text-align: center;
  }
  .date {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.5rem;
  }
  .mainGrid {
    margin-top: 3rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 23rem);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    max-width: 1200px;
    margin: 5px auto;
    .card {
      border-radius: 1rem;
      padding: 1rem 2rem;

      .cardContent {
        .cardName {
          font-family: "Roboto";
          font-size: 2rem;
        }
        .counter {
          font-size: 5rem;
        }
        .daily {
          font-size: 2rem;
        }
      }
    }
  }
}
.infectedColor {
  color: $Infected;
}
.deathsColor {
  color: $Deaths;
}
.recoveredColor {
  color: $Recovered;
}
.activeColor {
  color: $Active;
}
.active {
  box-shadow: 0 3px 6px 0 $black;
  color: $Active;
}
.infected {
  box-shadow: 0 1px 2px 0$black, 0 3px 6px 0 $black;
  color: $Infected;
}
.deaths {
  box-shadow: 0 1px 2px 0$black, 0 3px 6px 0 $black;
  color: $Deaths;
}
.recovered {
  box-shadow: 0 1px 2px 0 $black, 0 3px 6px 0 $black;
  color: $Recovered;
}
