$Infected: rgba(0, 0, 255, 1);

$Active: rgba(255, 145, 0, 1);

$Recovered: rgba(0, 255, 0, 1);

$Deaths: rgba(255, 0, 0, 1);

$black: rgb(105, 105, 105);
$box-shadow: 0 3px 6px 0 $black;
.container {
  max-width: 800px;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  .date {
    align-self: center;
  }
  .mainGrid {
    display: flex;
    justify-content: center;
    .card {
      width: 15rem;
      align-self: center;
      box-shadow: $box-shadow;
      border-radius: 5px;

      .cardContent {
        text-align: center;
        .cardName {
          font-family: "Roboto";
          font-size: 1.5rem;
        }
        .counter {
          font-size: 3rem;
          animation: blinkingText 5000ms infinite;

          @keyframes blinkingText {
            0% {
              transform: scale(0.7);
            }
            20% {
              transform: scale(0.85);
            }
            40% {
              transform: scale(1);
            }

            60% {
              transform: scale(1);
            }
            80% {
              transform: scale(0.85);
            }
            100% {
              transform: scale(0.7);
            }
          }
        }
        .daily {
          font-size: 1.5rem;
        }
      }
    }
  }
}
//card type

.active {
  color: $Active;
  margin-right: 1rem;
}
.infected {
  color: $Infected;
  margin-right: 1rem;
}
.deaths {
  color: $Deaths;
  .counter {
  }
}
.recovered {
  color: $Recovered;
  margin-right: 1rem;
}
@media (max-width: 1050px) {
  .container {
    .mainGrid {
      .card {
        width: 15rem;
        border-radius: 5px;
        .cardContent {
          .cardName {
            font-size: 1rem;
          }
          .counter {
            font-size: 2.7rem;
          }
          .daily {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container {
    .mainGrid {
      .card {
        width: 12rem;
        border-radius: 5px;
        .cardContent {
          .cardName {
            font-size: 0.5rem;
          }
          .counter {
            font-size: 1.5rem;
          }
          .daily {
            font-size: 0.5rem;
          }
        }
      }
    }
  }
}
