form {
  margin-top: 0;
  padding: 0;
  .Icon {
    position: relative;
    left: 0.5rem;
    top: 2.4rem;
  }
  input {
    width: 100%;
    padding: 0.8rem 3rem;
    font-size: 0.8rem;
    border-radius: 10px;
  }
}
