// utility
a {
  text-decoration: none;
}

.button {
  border: 0;
  border-radius: 5px;
  color: rgba(0, 123, 255, 0.6);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  outline: none;
  padding: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 5px auto;
  .youtube {
    color: #fff;
    background-color: rgb(247, 48, 48);
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    &:hover {
      color: rgb(247, 48, 48);
      background-color: #fff;
      box-shadow: 0 0.2rem 0.4rem 0 rgb(247, 48, 48);
    }
  }
  .telegram {
    color: #fff;
    background-color: rgb(41, 170, 245);
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    &:hover {
      color: rgb(41, 170, 245);
      background-color: #fff;

      box-shadow: 0 0.2rem 0.4rem 0 rgb(41, 170, 245);
    }
  }
  a {
    margin-top: 1rem;
    display: flex;

    font-size: 1.5rem;

    .Icon {
      margin-right: 0.5rem;
      margin-left: 2rem;
    }
    div {
      margin: 0 1rem;
      margin-top: 0.5rem;
    }
  }
  p {
    font-size: 1.5rem;
  }
}

// media Query

@media (max-width: 900px) {
  footer {
    .youtube {
      padding: 0.15rem 0.5rem;
    }
    .telegram {
      padding: 0.15rem 0.5rem;
    }
    a {
      font-size: 1.2rem;
      color: red;
    }
    p {
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 600px) {
  footer {
    .youtube {
      padding: 0.15rem 0.2rem;
    }
    .telegram {
      padding: 0.15rem 0.2rem;
    }
    a {
      font-size: 1rem;
      color: red;
    }
    p {
      font-size: 1rem;
    }
  }
}
@media (max-width: 450px) {
  footer {
    .youtube {
      padding: 0.15rem 0.2rem;
    }
    .telegram {
      padding: 0.15rem 0.2rem;
    }
    a {
      font-size: 1rem;
      color: red;
    }
    p {
      font-size: 0.9rem;
    }
  }
}

.darkMode {
  footer {
    .youtube {
      &:hover {
        background-color: rgb(223, 222, 222);
        border: none;
      }
    }
    .telegram {
      &:hover {
        border: none;
        background-color: rgb(223, 222, 222);
      }
    }
    p {
      color: rgb(196, 195, 195);
    }
  }
}
