.container {
  margin: 25px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;

  h3 {
    align-self: center;
    font-size: 1.8rem;
  }

  .contentTable {
    align-self: center;
    border-collapse: collapse;

    font-size: 1.5rem;

    width: 100%;

    border-radius: 5px;
    overflow: hidden;

    thead {
      tr {
        background-color: red;
        color: #fff;
        text-align: left;
        font-weight: bold;
      }
    }
    th {
      padding: 12px 15px;
    }
    td {
      padding: 12px 15px;
      text-align: right;
    }
    .dis {
      text-align: left;
    }

    tbody {
      tr {
        border-bottom: 1px solid #dddddd;
        &:nth-of-type(even) {
          background-color: #f3f3f3;
        }
        &:last-of-type {
          border-bottom: red 1px solid;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .container {
    h3 {
      font-size: 1rem;
    }
    .contentTable {
      font-size: 1rem;
    }
  }
}

@media (max-width: 600px) {
  .container {
    h3 {
      font-size: 1rem;
    }
    .contentTable {
      font-size: 0.9rem;

      th {
        padding: 3px 5px;
      }
      td {
        padding: 3px 5px;
      }
    }
  }
}
@media (max-width: 330px) {
  .container {
    h3 {
      font-size: 1rem;
    }
    .contentTable {
      font-size: 0.8rem;

      th {
        padding: 0;
      }
      td {
        padding: 0;
      }
    }
  }
}

.darkMode {
  .container {
    .contentTable {
      tbody {
        tr {
          &:nth-of-type(even) {
            background-color: #6e6e6e;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}
