$selector: rgb(54, 54, 54);
$selectorDark: #000;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;

  padding: 1rem 10rem 1rem 1rem;
  background: url(../../images/selector.png) no-repeat 95% center;
  background-size: 3rem;
  color: #000;
  border-radius: 0.4rem;
  border: 0.2rem solid #000;
  width: 55rem;
}

.selectorContainer {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 2rem;
    margin-top: 4rem;
    align-self: center;
  }
  margin-top: 10px;
  margin: auto auto;
  .selectState {
    box-shadow: 0 1px 2px 0 $selector, 0 3px 6px 0 $selector;
    &:hover {
      box-shadow: 0 1px 2px 0 $selectorDark, 0 3px 6px 0 $selectorDark;
    }
  }
}
