$selector: rgb(54, 54, 54);
$selectorDark: #000;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  max-width: 800px;
  padding: 1rem 10rem 1rem 1rem;
  background: url(../../images/selector.png) no-repeat 95% center;
  background-size: 3rem;
  color: #000;
  border-radius: 0.4rem;

  width: 55rem;
}

.selectorContainer {
  display: flex;
  flex-direction: column;
  h3 {
    font-size: 1.8rem;
    margin-top: 2rem;
    align-self: center;
  }
  margin-top: 10px;
  margin: auto auto;
  .selectState {
    align-self: center;
    box-shadow: 0 1px 2px 0 $selectorDark, 0 3px 6px 0 $selectorDark;
    &:hover {
      box-shadow: 0 1px 2px 0 $selectorDark, 0 3px 6px 0 $selectorDark;
    }
  }
}

@media (max-width: 900px) {
  select {
    width: 35rem;
    background-size: 2.5rem;
  }
  .selectorContainer {
    h3 {
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}
@media (max-width: 600px) {
  select {
    width: 9rem;
    font-size: 0.5rem;
    background-size: 1rem;
    padding: 1rem 1rem 0.4rem 0.2rem;
  }
  .selectorContainer {
    h3 {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}

.darkMode {
  select {
    color: rgb(221, 221, 221);
    option {
      color: rgb(202, 202, 202);
      background-color: rgb(41, 41, 41);
    }
  }
  .selectState {
    &:hover {
      box-shadow: 0 1px 2px 0 rgb(161, 161, 161), 0 3px 6px 0 rgb(163, 163, 163);
    }
  }
}
.lightMode {
}
