.container {
  flex-direction: column;
  display: flex;
  margin: 5px auto;
  max-width: 1200px;
}

.banner {
  display: flex;
  // justify-content: space-between;
  border-bottom: red 1px dotted;

  i {
    color: rgb(88, 88, 88);
  }

  img {
    margin: 10px;
    width: auto;
    height: 35px;
    margin-right: 10px;
  }
}

.covidBanner {
  transform: scale(1.7);
}

@media (max-width: 900px) {
  .tracker {
    font-size: 0.7rem;
  }
  .covidBanner {
    transform: scale(1.2);
  }
}

@media (max-width: 600px) {
  .tracker {
    font-size: 0.5rem;
  }
  .covidBanner {
    transform: scale(0.6);
  }
}

.darkMode {
  i {
    color: rgb(218, 218, 51);
  }
}
